.answers__label {
  cursor: pointer;
  display: block;
  font-family: 'Schoolbell', cursive;
}

@media (min-width: 992px) {
  .bg-img-main {
    background-attachment: fixed;
    background-image: url(../img/simpsons-blue-bg.jpg); /* Needs to be compressed */
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

.button {
  background-color: #ffce1a;
  border: 4px solid #000;
  color: #000;
  cursor: pointer;
  font-family: 'Schoolbell', cursive;
  padding: .5% 2%;
  text-transform: uppercase;
  transition: 200ms;
  width: max-content;
}

.button:hover {
  background-color: #000;
  border: 4px solid #ffce1a;
  color: #ffce1a;
}

@media (min-width: 992px) {
  .flex-left {
    width: 45%;
  }
}

.green {
  background-color: green;
}

.heading1 {
  font-family: 'Schoolbell', cursive;
}

.question {
  font-family: 'Schoolbell', cursive;
}

.red {
  background-color: red;
}

#nextOptions {
  display: none;
}

.resultsHeading {
  font-family: 'Schoolbell', cursive;
  text-transform: uppercase;
}