.answers__label {
  cursor: pointer;
  display: block;
  font-family: 'Schoolbell', cursive;
}

.button {
  background-color: #ffce1a;
  border: 4px solid #000;
  color: #000;
  cursor: pointer;
  font-family: 'Schoolbell', cursive;
  padding: .5% 2%;
  text-transform: uppercase;
  transition: 200ms;
  width: max-content;
}

.button:hover {
  background-color: #000;
  border: 4px solid #ffce1a;
  color: #ffce1a;
}

.green {
  background-color: green;
}

.heading1 {
  font-family: 'Schoolbell', cursive;
}

.question {
  font-family: 'Schoolbell', cursive;
}

.red {
  background-color: red;
}

#nextOptions {
  display: none;
}

.resultsHeading {
  font-family: 'Schoolbell', cursive;
  text-transform: uppercase;
}